* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v4_13 {
  width: 100%;
  height: 1024px;
  background: rgba(27,42,50,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_48 {
  width: 100%;
  height: 60px;
  background: rgba(17,23,26,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v7_60 {
  width: 244px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 24px;
  left: 77px;
  font-family: Metropolis;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
